@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Upload Lotto data";
}

<h1>Upload</h1>

@if (ViewBag.Processed)
{
    if (@ViewBag.DataCount > 0)
    {
        <h2>Successfully processed @ViewBag.DataCount drawings.</h2>
    }
    else
    {
        <h2>No items were processed. This probably means that you did not provide any new drawings.</h2>
    }

}

<form action="/upload" method="post" enctype="multipart/form-data">
    <fieldset>
      <label>Here you can upload the current version of the lotto data</label>
      <input type="file" name="data" size="30" />
    </fieldset>
    <input type="submit" value="Submit" />
</form>